# XGBoost

# Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv')
print(dataset.head(10))
print(dataset.describe())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43
5          6    15574012       Chu          645     Spain    Male   44
6          7    15592531  Bartlett          822    France    Male   50
7          8    15656148    Obinna          376   Germany  Female   29
8          9    15792365        He          501    France    Male   44
9         10    15592389        H?          684    France    Male   27

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1
5       8  113755.78              2          1               0
6       7       0.00              2          1               1
7       4  115046.74              4          1               0
8       4  142051.07              2          0               1
9       2  134603.88              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
5        149756.71       1
6         10062.80       0
7        119346.88       1
8         74940.50       0
9         71725.73       0
         RowNumber    CustomerId   CreditScore           Age        Tenure  \
count  10000.00000  1.000000e+04  10000.000000  10000.000000  10000.000000
mean    5000.50000  1.569094e+07    650.528800     38.921800      5.012800
std     2886.89568  7.193619e+04     96.653299     10.487806      2.892174
min        1.00000  1.556570e+07    350.000000     18.000000      0.000000
25%     2500.75000  1.562853e+07    584.000000     32.000000      3.000000
50%     5000.50000  1.569074e+07    652.000000     37.000000      5.000000
75%     7500.25000  1.575323e+07    718.000000     44.000000      7.000000
max    10000.00000  1.581569e+07    850.000000     92.000000     10.000000

             Balance  NumOfProducts    HasCrCard  IsActiveMember  \
count   10000.000000   10000.000000  10000.00000    10000.000000
mean    76485.889288       1.530200      0.70550        0.515100
std     62397.405202       0.581654      0.45584        0.499797
min         0.000000       1.000000      0.00000        0.000000
25%         0.000000       1.000000      0.00000        0.000000
50%     97198.540000       1.000000      1.00000        1.000000
75%    127644.240000       2.000000      1.00000        1.000000
max    250898.090000       4.000000      1.00000        1.000000

       EstimatedSalary        Exited
count     10000.000000  10000.000000
mean     100090.239881      0.203700
std       57510.492818      0.402769
min          11.580000      0.000000
25%       51002.110000      0.000000
50%      100193.915000      0.000000
75%      149388.247500      0.000000
max      199992.480000      1.000000

# Splitting the dataset into Independent and Dependent Variable

In [3]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print("-----X----")
print(X[:10])
print(type(X))
print(X.shape)
print("-----y----")
print(y[:10])
print(y.shape)

-----X----
[[619 'France' 'Female' 42 2 0.0 1 1 1 101348.88]
 [608 'Spain' 'Female' 41 1 83807.86 1 0 1 112542.58]
 [502 'France' 'Female' 42 8 159660.8 3 1 0 113931.57]
 [699 'France' 'Female' 39 1 0.0 2 0 0 93826.63]
 [850 'Spain' 'Female' 43 2 125510.82 1 1 1 79084.1]
 [645 'Spain' 'Male' 44 8 113755.78 2 1 0 149756.71]
 [822 'France' 'Male' 50 7 0.0 2 1 1 10062.8]
 [376 'Germany' 'Female' 29 4 115046.74 4 1 0 119346.88]
 [501 'France' 'Male' 44 4 142051.07 2 0 1 74940.5]
 [684 'France' 'Male' 27 2 134603.88 1 1 1 71725.73]]
<class 'numpy.ndarray'>
(10000, 10)
-----y----
[1 0 1 0 0 1 0 1 0 0]
(10000,)

# Encoding categorical  data(Geography & Gender into number type data )

In [ ]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

## make dummy variables for Geography only

In [5]:
print(X[0])
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("Geography", OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)
print(X[0])

[619 'France' 'Female' 42 2 0.0 1 1 1 101348.88]
[1.0 0.0 0.0 619 'Female' 42 2 0.0 1 1 1 101348.88]

## Encoding categorical  data(Gender into number type data )

In [6]:
print(X[0])
labelencoder_x_2=LabelEncoder()
X[:,4]=labelencoder_x_2.fit_transform(X[:,4])
print(X[0])

[1.0 0.0 0.0 619 'Female' 42 2 0.0 1 1 1 101348.88]
[1.0 0.0 0.0 619 0 42 2 0.0 1 1 1 101348.88]

## Remove dummy variables trap

In [7]:
X = X[:, 1:]
print(X[0])

[0.0 0.0 619 0 42 2 0.0 1 1 1 101348.88]

# Splitting the dataset into the Training set and Test set

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

print("-----X_train-------")
print(X_train[:5])
print(type(X_train))
print(X_train.shape)

print("---------X_test------")
print(X_test[:5])
print(type(X_test))
print(X_test.shape)

print("---------y_train------")
print(y_train[:5])
print(type(y_train))
print(y_train.shape)

print("---------y_test------")
print(y_test[:5])
print(type(y_test))
print(y_test.shape)

-----X_train-------
[[0.0 1.0 667 0 34 5 0.0 2 1 0 163830.64]
 [1.0 0.0 427 1 42 1 75681.52 1 1 1 57098.0]
 [0.0 0.0 535 0 29 2 112367.34 1 1 0 185630.76]
 [0.0 1.0 654 1 40 5 105683.63 1 1 0 173617.09]
 [0.0 1.0 850 0 57 8 126776.3 2 1 1 132298.49]]
<class 'numpy.ndarray'>
(8000, 11)
---------X_test------
[[1.0 0.0 597 0 35 8 131101.04 1 1 1 192852.67]
 [0.0 0.0 523 0 40 2 102967.41 1 1 0 128702.1]
 [0.0 1.0 706 0 42 8 95386.82 1 1 1 75732.25]
 [0.0 0.0 788 1 32 4 112079.58 1 0 0 89368.59]
 [1.0 0.0 706 1 38 5 163034.82 2 1 1 135662.17]]
<class 'numpy.ndarray'>
(2000, 11)
---------y_train------
[0 0 0 0 0]
<class 'numpy.ndarray'>
(8000,)
---------y_test------
[0 1 0 0 0]
<class 'numpy.ndarray'>
(2000,)

In [ ]:
#pip install xgboost

# Fitting XGBoost to the Training set

In [10]:
from xgboost import XGBClassifier

TypeError: __init__() got an unexpected keyword argument 'categorical_features'

In [ ]:
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

# Predicting the Test set results

In [ ]:
y_pred = classifier.predict(X_test)
print(y_pred)

# Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

# Applying k-Fold Cross Validation

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
accuracies.mean()
accuracies.std()